<!DOCTYPE html>
<html>
  <head>
    <title>BlogDairy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "index", "data-turbo-track": "reload"  %>
  </head>

  <body>
    <header>
      <h1>BlogDairy</h1>
      <nav>
        <a><%= t('.home')%></a>
        <a><%= t('.about')%></a>
        <a><%= t('.contanct')%></a>
        <a><%= t('.signup')%></a>
        <a><%= t('.login')%></a>
        <a><%= t('.logout')%></a>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
